.containerCard {
   z-index: 99;
   position: absolute;
   margin-left: 75%;
   display: none;
   transition: 0.5s;
}

.containerCard .card {
    width: 250px;
    background-color: #fff;
    border: 1px solid rgba(153, 150, 150, 0.363);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 20px 25px #5f5f5d5d;
}


.containerCard .card h1 {
    font-size: 1.1rem;
}

.containerCard .card .content {
    text-align: center;
    flex-direction: column;
    display: flex;
}

.pcard {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    transition: 0.5s;
}

.cadastracarro{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    font-size: 15px;
    border: none;
}

.cadastracarro:hover{
    background-color: #74777b21;
    cursor: pointer;
}

.iconcard{
    width: 25px;
    padding-right: 5px;
}

.btnsair{
    background-color: #fff;
    color: #0a0c07;
    text-decoration: none;
    transition: 0.2s;
    outline: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    font-size: 15px;
    display: flex;
    border: none;
}

.btnsair:hover{
    background-color: #74777b15;
    cursor: pointer;
}

.containerCard .card:hover .content .pcard {
    color: white;
}

.containerCard .card:hover .h1card{
    color: white;
}

.logout{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: none;
    transition: 0.2s;
    outline: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    font-size: 15px;
    border-top: 1px solid #74777b80;
    font-weight: bolder;
}

.logout:hover{
    color: black;
    background-color: #74777b15;
    transition: 0.2s;
    cursor: pointer;
}