@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&family=Sora:wght@300&display=swap');

:root {
    --input-error: red;
    --button-disabled: #acacac;
    --button-success: rgb(18, 151, 107);
    --white: #fff;
    --black: #303030;
    --gray: #929292;
    --light-gray: #cfcfcf;
}


@keyframes changecolor{
    0%{ transition: transform 100ms cubic-bezier(.45,.97,.68,.2.48);}
    100%{ transform: scale(1.08);}
}

.IdName{
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-left: 20px;
}

.IdName:hover{
    color: #ffb400;
    transition: all 0.4s ease;
}

#gameover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    font-size: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

#fechar{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#fechar:hover{
    color: #ffb400;
    transition: all 0.4s ease;
}

.titulo{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#btn-sucesso{
    background: #ffb400;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
}

#btn-sucesso:hover{
    background-color:#1c63aa;
    transform: scale(1.08);
    color: white;
}

#gameoverLogin{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    font-size: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

#fecharLogin{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

#fecharLogin:hover{
    color: #ffb400;
    transition: all 0.4s ease;
}

#btn-faz-login{
    background: #ffb400;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
}

#btn-faz-login:hover{
    background-color:#1c63aa;
    transform: scale(1.08);
    color: white;
}



textarea {
    resize: vertical;
  }

  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}




h1{
    text-align: center;
    color: #293145;
    font-family: 'Sora';
    font-size: 2rem;
}

h3{
    text-align: center;
    font-family: 'Inter';
    font-size: 1rem;
    color: #6E7275;
}


a {
    font-family: 'Nunito';
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0033a0;
    height: 8vh;
  }
  
  section {
    background-size: cover;
  }
  
  .logo1{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 20%;
    height:100%;
  }
  .logosite{
    cursor: pointer;
    width: 145px;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #0033a0;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

.bt{
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.btn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: #ffb400;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover{
    background: #1c63aa;
    transform: scale(1.08);
}

.btn2{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background: #ffb400;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn2:hover{
    background: #1c63aa;
    transform: scale(1.08);
}


section .containerh1{
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    width: 90%;
    max-width: 980px;
    width: 90%;
}

b{
    text-align: center;
    color: #11e068;
    font-weight: 800;
    font-size: 2.25rem;
    margin-bottom: 6px;
}

s{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 1.25rem;
    color: brown;
}

span{
    font-family: 'Raleway', sans-serif;
    font-size: 0.938rem;
}

.valuescarros{
    display: flex;
    justify-content: center;
}

#value_saldo{
    color: #10c95dea;
    margin-top: 15px;
}

.parte1{
    margin-top: 25px;
    align-items: center;
    display: flex;
    justify-content: center;

}


#primeiroh3{
    padding-bottom: 20px;
}

.containerh1{
    display: block;

}

.input1{
    text-transform: uppercase;
    font-family: 'Nunito';
    background-color: #e9e6e6;
    padding: 15px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 0px 20px #e9e6e6;
}

.input-consulta{
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-1{
    font-family: 'Nunito';
    margin-left: 15px;
    width: 150px;
    height: 55px;
    background: #ffb400;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.4s ease;
}

.btn-1:hover{
    transform: scale(1.08);
    background: #3286ca;
}

.btn-1:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}
  

.btn-1.success {
    background: var(--button-success);
}
  
.btn-1.error {
    background: var(--input-error);
}

.btn-2{
    animation-name: changecolor;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
    width: 100%;
    height: 45px;
    background: #0033a0;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
}

.acolor{
    color: white;
}

.parte3{
    
    background-color: #0033a0;
}

.container3 {
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    width: 100%;
}

.pacotecontent{
    width: 100%;
    max-width: 1216px;
    margin: 40px auto;
    display: flex;
    gap: 32px;

}

.pacotesplain{
    width: 370px;
    height: 471px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.tituloplain{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-top: 56px;
    color: #293145;

}

.precoplain{
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    color: #293145;
}

.sobreplain{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    width: 100%;
    height: 75px;
    margin-top: 80px;
    color: #6E7275;
    padding: 5px;
}
.content_btn{
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnplain{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 80px;
    gap: 10px;
    background: #0F9AFE;
    border: none;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Nunito';
    cursor: pointer;
}

.btnplain:hover {
    transition: all 0.2s ease;
   
    background: #ffb400;
    box-shadow: 1px 3px 4px rgba(170, 172, 173, 0.5);
}

.h1pacote{
    margin-top: 50px;
    text-align: center;
    color: #ffb400;
    font-family: 'Sora';
    font-size: 2rem;
}

.h3pacote{
    font-family: 'Inter';
    font-size: 1rem;
    color: white;
    padding-bottom: 20px;
    margin-top: 5px;
}

.h3pacoteclass{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.25rem;
    color: white;
    padding-bottom: 20px;
    background-color: #ffb300be;
    border-radius: 12px;
    padding: 10px;
}

p{
    color: black;
    font-family: 'Inter';
    text-align: center;
    margin-bottom: 10px;
}

.info{
    color: white;
    font-family: 'Inter';
    text-align: center;
    margin-bottom: 10px;
}

.btn-pacote{
  display: flex;
  align-items: center;
  justify-content: center;

}

section .sobreassinatura{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Csobreassinatura{

    flex-direction: column;
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

footer{
    height: auto;
    margin: auto;
    max-width: 100%;
    padding: 30px;
    display: flex;
    background-color: #0033a0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer .todo_conteudoFooter{
    margin-top: 12%;
    max-width: 980px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contatodados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}


.ul2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}


#image1{
    margin-top: 20px;
    margin-right: 15px;
    width: 30px;
}

#image2{
    margin-top: 20px;
    margin-left: 15px;
    width: 30px;
}

#image{
    width: 100px;
    
}

li {
    list-style-type: none;
}

.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario2{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.h1footer{
    color: #ffb400;
    font-family: 'Sora';
    font-size: 2rem;
    text-shadow: 5px 5px 20px rgb(107, 106, 106);
}

.h3footer{
    font-family: 'Inter';
    font-size: 1rem;
    color: white;

}

.inputdados{
    width:350px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 0.938rem;
    font-family: 'Nunito';
    border-radius: 8px;
    border: none;
}

.caixamensage{
    padding: 14px 26px;
    width: 100%;
    height: 203px;
    margin-bottom: 24px;
    font-size: 0.938rem;
    font-family: 'Nunito';
}

.cartao-bandeiras{
    padding-bottom: 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: row
}

.conteudo-contato{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 600;
}


.contatodados2{
    padding-top: 40px;
    
}

.h3dados{
    font-size: 1rem;
    color: white;
}

#imgcar{
    width: 100%;
}

span{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Inter';
}


@media (max-width: 2560px){
    .none{
        display: none;
    }

}

@media(max-width: 1010px) {
    .pacotecontent{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 999px){
    .card{
       margin-left: -80%;
    }
}


@media (max-width: 810px){
    
    .btn-entrar{
        margin-left: 20px;
    }

}


@media (max-width: 625px) {
    .container {
        padding-left: 78%;
    }

    .none{
            display: flex;
        }

    .btn-entrar{
        width: 250px;
    } 
    .btn-entrar2{
        width: 150px;
}}


@media (max-width: 540px){
    header .menu-sectio {
        justify-content: none;
    }
}


@media (max-width: 500px){
    #image{
        width: 75px;
    }
}

@media (max-width: 472px){
    .input-consulta{
        flex-direction: column;

    }

    .btn-1{
        margin-top: 15px;
    }

    h1{
        font-size: 2rem;
    }
}

@media (max-width: 450px){
    .pacotesplain{
        width: 80%;

    }
}


@media (max-width: 441px){
    .inputdados{
        width: 300px;

    }
}



@media (max-width: 426px){
    .btn-entrar .btn-1 .dados-cnpj{
        font-size: 20%;
        padding: 15px;
    }
}

@media (max-width: 385px){
    #image{
        width: 65px;
    }
}

@media (max-width: 378px){
    .btn-entrar .btn1{
        margin-left: 15px;
    }
}


