@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Rozha+One&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100vh;
}

.IdName{
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: lighter;
}
#value_saldo{
  color: #10c95dea;
  margin-top: 15px;
  font-size: 16px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.IdName:hover{
  color: #ffb400;
  transition: all 0.4s ease;
}


h1{
  text-align: center;
  color: #0033a0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 3.125rem;
}

h3{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25rem;
  color: #2a2a2a;
}


a{
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
   color: white;
   text-decoration: none;
   transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0033a0;
  height: 8vh;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #0033a0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.bt{
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.btn{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  background: #ffb400;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover{
  background: #1c63aa;
  transform: scale(1.08);
}

.btn2{
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  background: #ffb400;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn2:hover{
  background: #1c63aa;
  transform: scale(1.08);
}

.acolor{
  font-family: 'Noto Sans', sans-serif;
  
}

.container-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 120px;
}


.containercaixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.caixa1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa2{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}

.logo1{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  height:100%;
}
.logosite{
  cursor: pointer;
  width: 145px;
}


section .caixa2 ul{
    align-items: center;
    justify-content: center;
}

section .caixa2 ul li {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
    margin-top: 50px;
}

section .caixa2 ul li img{
    margin-bottom: 20px;
    width: 60px;
    margin-right: 8px;
}

p{
  color: black;
  font-size: 1rem;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}







@media (max-width: 2560px){
    .none{
        display: none;
    }
}

@media (max-width: 999px){
  .card{
     margin-left: -80%;
  }
}


@media (max-width: 763px){
    html{
        font-size: 70%;
    }
}

@media (max-width: 730px){

    html{
        font-size: 70%;
    }
}

@media (max-width: 810px){
    
    .btn-entrar{
        margin-left: 20px;
    }
    
}


@media (max-width: 625px) {
    .container {
        padding-left: 78%;
    }

    section .caixa2 ul{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    section .caixa2 ul li{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container {
        padding-left: 78%;
    }

    .none{
            display: flex;
        }

        p{
            text-align: center;
        }

        .btn-entrar{
            width: 250px;
        } 
        .btn-entrar2{
            width: 150px;}

            li{
                margin-bottom: 10px;
            }
             
}


@media (max-width: 540px){
    header .menu-sectio {
        justify-content: none;
    }
}


@media (max-width: 426px){
    .btn-entrar {
        font-size: 20%;
        padding: 15px;
    }
}

@media (max-width: 378px){
    .btn-entrar {
        margin-left: 15px;
    }
}
